[submodule "themes/minimo"]
	path = themes/minimo
	url = https://github.com/MunifTanjim/minimo
[submodule "public"]
	path = public
	url = https://github.com/geowarin/geowarin.gihthub.io.git
	branch = master
