{{ .Permalink }}
{{ .Site.BaseURL }}

<div class="article-share-links" data-url="https://geowarin.github.io/redux-data-with-shasta.html" data-title="{{ .Title }}">
    <div>
        <a data-provider="twitter" class="article-share twitter" target="_blank" title="Share on Twitter">
            <span class="count">0</span>
        </a>
        <a data-provider="linkedIn" class="article-share linkedin" target="_blank" title="Share on LinkedIn">
            <span class="count">0</span>
        </a>
        </a>
        <a data-provider="facebook" class="article-share facebook" target="_blank" title="Share on Facebook">
            <span class="count">0</span>
        </a>
        </a>
        <a data-provider="google" class="article-share google" target="_blank" title="Share on Google+">
            <span class="count">0</span>
        </a>
        <a href="#comments" class="article-share comments" title="Comments">
            <span class="disqus-comment-count" data-disqus-url="{{ .Permalink }}">0</span>
        </a>
    </div>
</div>
